body{
    background-color: #f6f6f6;
}

.navbar-custom {
    border-color: #D16F4E;
}

.nav-pills {
    background-color: #ffffff;
}

.nav-pills>li>a {
    color: #D16F4E;
}

.nav-pills>li>a:hover {
    color: #ffffff;
    background-color: #D16F4E;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #ffffff;
    background-color: #D16F4E;
}